 {box-sizing: border-box;}
 body{
     margin:0;
     padding: 0;
     font-family: Lato;
 }
    .preload {
        width: 100%;
        height:100%;
        background:yellowgreen;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;

    }
.logo {
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 100%;
    position: relative;
}

.logo .j, .logo .w {
    position: absolute;
    color: yellowgreen;
    font-size: 34px;
    font-weight: bold;
    text-decoration: italic;
    font-family: Lato;
    transition: all ease 1s;
    padding-: ;
}

.logo .j {
    position: right;
    top: 20px;
    left: 30px;
    font-size: 60px;
                                        
}

.logo .w {
    top: 25px;
    right: 25px;
    text-align: right;
}

.logo:hover .w {
  
    font-size: 60px;
}

.logo:hover .j {
    font-size: 40px;
}

body {
      background: black;
    }
    .preloader {
      margin: 300px auto;
      width: 70px;
      height: 30px;
      text-align: center;
      font-size: 10px;
    }

    .preloader > div {
      background-color: yellowgreen;
      height: 50px;
      width: 15px;
      border-radius: 70%;
      display: inline-block;
      
      -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
      animation: stretchdelay 0.7s infinite ease-in-out;
    }

    .preloader .circ2 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }

    .preloader .circ3 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }

    .preloader .circ4 {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }

    .preloader .circ5 {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: translateY(-10px) }  
      20% { -webkit-transform: translateY(-20px) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
      } 20% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
      }
    }